<h1><%= pluralize @people.size, 'Runner' %></h1>

<%= link_to 'New person', :action => 'new' %>
<br />

<table>
  <tr>
	<th>Race</th>
	<th>Gender</th>
  <% Person.content_columns.each do |column| %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% @people.each do |person| %>
  <tr>
	<td><strong><%=h person.races.last.name %></strong></td>
    <td><%=h person.gender.name %></td>
  <% Person.content_columns.each do |column| %>
    <td><%=h person.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', [@year, person] %></td>
    <td><%= link_to 'Edit', [:edit, @year, person] %></td>
    <td><%= link_to 'Destroy', [@year, person], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


<br />

<%= link_to 'New person', :action => 'new' %>
