<%= form_for [@year, finish], remote: true do |f| %>
  <%= f.error_messages %>

  <p class="place">
    <%= f.label :place %>
    <%= f.text_field :place, :size => 5, disabled: true %>
  </p>

  <p class="time">
    <%= f.label :time %>
    <%= f.text_field :time, :size => 7  %>
  </p>

  <p class="number">
    <%= f.label :number %>
    <%= f.number_field :number, :size => 5,  :pattern => "[0-9]*" %>
  </p>

  <p class="images">
    <%= image_tag 'sync.gif', class: "spinner", :id => "edit_finish_#{finish.id}_spinner", :style => 'display: none;' %>
    <%= image_tag 'error.png', class: "error", :id => "edit_finish_#{finish.id}_error", :style => 'display: none;' %>
  </p>
<% end %>
