<h1>Race Results</h1>

<% Year.order("year DESC").each do |year| %>
  <h2><%= year %></h2>
  <p>
    <%= pluralize year.people.count, 'runner' %> from <%= year.people.map(&:state).uniq.size %> states/provences.
  </p>

  <table>
    <tr>
      <% reports = params[:public] ? %w(numbers results age_groups) : %w(results age_groups) %>
      <% reports.each do |report| %>
        <td style="padding-right: 2em">
          <h3><%= report.humanize %></h3>

          <% year.races.each do |race| %>
            <%= link_to race, year_report_path(action: report, distance: race.short_name, year_id: year.year) %><br>
          <% end %>

        </td>
      <% end %>
    </tr>
  </table>

  <hr>
<% end %>