<!DOCTYPE html>
<html>
<head>
  <title><%= controller.controller_name %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold', 'main' %>
  <%= stylesheet_link_tag 'iphone', :media => 'only screen and (max-device-width: 480px)' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless controller.controller_name == "reports" %>
  <nav>
    <%= link_to_unless_current "Registration", year_people_path(@year || Year.order(year: :desc).first) %> |
    <%= link_to_unless_current "Finish Line", year_finishes_path(@year || Year.order(year: :desc).first) %> |
    <%= link_to_unless_current "Reports", reports_path %>
  </nav>
<% end %>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
